<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
    <%if (data.deeplink) { %>
        <h1>Redirecting</h1>
    <% } else { %>
        <h1>Result</h1>
        <% }  %>

    <%if (data.link) { %>
        <h2 href="<%= data.link %>"><%= data.link %></h2>
    <% } %>
    <%if (data.deeplink) { %>
        <h3>Agent : <%= data.agent %></h3>
        <a id="redirectLink" href="<%= data.deeplink %>"><%= data.deeplink %></a>
    <% }  %>
    <%if (data.message) { %>
        <h2><%= data.message %></h2>
    <% } %>

    <script>
        window.onload = function() {
        setTimeout(function() {
            document.getElementById('redirectLink').click();
        }, 10);
    };
    </script>
</body>
</html>