<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <style>
        body{
            background-color:rgba(241, 255, 255, 0.955);
        }
        *{
            text-align: center;
        }
        #copy,#redirectLink{
            overflow-wrap: break-word;
        }
        #redirectLink{
            font-size: x-small;
        }
    </style>
</head>
<body>
    <%if (data.deeplink) { %>
        <h1>Redirecting</h1>
    <% } else { %>
        <h1>Result</h1>
        <% }  %>
        <br>
        <br>
    <%if (data.link) { %>
        <h2  id="copy" onclick="copyFunction()"><%= data.link %></h2>
        <p>Click to copy</p>
    <% } %>
    <br>
    <br>
    <%if (data.deeplink) { %>
        <h5>Agent : <%= data.agent %></h5>
        <a id="redirectLink" href="<%= data.deeplink %>"><%= data.deeplink %></a>
    <% }  %>
    <br>
    <br>
    <%if (data.message) { %>
        <h3><%= data.message %></h3>
    <% } %>

    <script>
        function copyFunction() {
            let copyText = document.getElementById("copy");
            navigator.clipboard.writeText(copyText.innerText);
            alert("Copied the text: " + copyText.innerText);
        }
        let clicked = false;
        
        window.addEventListener( "load", function(){
            if(clicked)return;
            if("<%= data.deeplink %>"){
                setTimeout(function() {
                    window.location.href = "<%= data.deeplink %>";
                }, 10);
                setTimeout(function() {
                    window.location.replace("<%= data.fallback%>");
                }, 1000)
            }
        });
            
    </script>
</body>
</html>
